In [95]:
fruits=['orange','apple','banana']
print(fruits)
print(fruits[0:2])
print(fruits[1:3])

['orange', 'apple', 'banana']
['orange', 'apple']
['apple', 'banana']

In [96]:
##fruits=['orange','apple','banana']
fruits.append('pineapple')
print(fruits)
fruits.remove('apple')
print(fruits)
fruits.pop(0)
print(fruits)
fruits.insert(1,'Grapes')
print(fruits)

['orange', 'apple', 'banana', 'pineapple']
['orange', 'banana', 'pineapple']
['banana', 'pineapple']
['banana', 'Grapes', 'pineapple']

In [97]:
fruits=['orange','apple','banana']
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)
fruits.clear()
print(fruits)
fruits=['orange','apple','banana']
print()

['apple', 'banana', 'orange']
['orange', 'banana', 'apple']
[]

In [ ]:
list=[1,2,3,[4,5]]
print(1 in list)
print([4,5]in list)
print(4 in list)
print(4 in list[3])

True
True
False
True

In [ ]:
list1=[1,2,3,[4,5,[6,7,8],9]]
print(list1[3])
print(list1[3][2])
print(list1[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [ ]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
words=['apple','banana','cherry']
uppercased=[word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
fruit12={'orange','apple','banana','pineapple','Grapes','Grapes','Apple'}
print(fruit12)
print(dir(fruit12))
#print(fruit[1]) #donot work list index

{'Grapes', 'orange', 'Apple', 'pineapple', 'apple', 'banana'}
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
fruit12={'orange','apple','banana','pineapple','Grapes','Grapes','Apple'}
fruit12.remove('apple')
print(fruit12)
fruit12.pop()
print(fruit12)

{'Grapes', 'orange', 'Apple', 'pineapple', 'banana'}
{'orange', 'Apple', 'pineapple', 'banana'}

In [ ]:
set1={1,2,3,4,5}
set1.remove(2)
#set1.remove(2)
set1.discard(2)
print(set1)

{1, 3, 4, 5}

In [ ]:
#Tuples() ordered and unchangeable Duplicates ,faster

xyz=('orange','apple','banana')
len(xyz)
print(xyz)
print(xyz[0])
print(xyz.count('apple'))#for index  
y=('grpes',)
xyz+=y
print(xyz)

('orange', 'apple', 'banana')
orange
1

In [ ]:
print(xyz) 
(green,yellow,red,blue)=xyz
print(red)
print(green)
print(blue)
print(yellow)

('orange', 'apple', 'banana', 'grpes')
banana
orange
grpes
apple

In [ ]:
(green,yellow,*blue)=xyz  #this * works as a list of remaning veriable

print(green)
print(yellow)
print(blue)

orange
apple
['banana', 'grpes']

In [ ]:
t=(1,2,(3,4),['a','b'])

In [ ]:
f1=('apple')
list(f1)

TypeError: 'list' object is not callable

In [ ]:
list=[1,"hello",3.14,True]
tuple=(1,"hello",3.14,True)
set={1,"hello",3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {'hello', 1, 3.14}

In [ ]:
l1=['orange','apple','banana']
for fruit in l1:
    if fruit == 'apple':
        print("Found")
        break
    else:
        print("Not found")

Not found
Found

Not found
Found

In [99]:
i=0
while i<len(l1):
    if fruit=="apple":
        print("found")
        break
    i=i+1

found

In [ ]:
student={
    1:"first",
    "name",
}

In [100]:
for key in student:
    print(key)
for value in student.valuees():
    print(value)
for key,value in student.items():
    print(key,value)

NameError: name 'student' is not defined

In [101]:
square={x:x*x for x in range(5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}